* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4vmin;
  letter-spacing: 1.5vmin;
  color: Black;
  padding: 8px;
  text-align: center;
  margin: 25px;
}

#board {
  display: grid;
  grid-template-columns: 25vmin 25vmin 15vmin 25vmin 25vmin;
  grid-template-rows: 20vmin 20vmin 20vmin 10vmin;
  font-size: 4.5vmin;
}

#pDeck, #cDeck, #pInPlay, #cInPlay {
  display: flex;
  border: 0.1vmin solid grey;
  /* padding: 50px; */
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 10px 5px black;
}

#TP, #TX {
  display: flex;
  justify-content: center;
}

#play {
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 12.8px;
  padding: 15px;
  font-weight: bolder;
  position: relative; 
  margin-left: -25px;
  box-shadow: 2.5px 5px 5px 2.5px black;
}

footer  {
  display: flex;
  justify-content: space-around;
}

#war  {
  visibility: hidden;
  text-align: center;
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 12.8px;
  padding: 15px;
  font-weight: bolder;
  position: relative; top: -30px;
  position: relative; left: -20px;
  box-shadow: 2.5px 5px 5px 2.5px black;
}


#replay  {
  visibility: hidden;
  text-align: center;
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 12.8px;
  padding: 15px;
  font-weight: bolder;
  position: relative; top: -30px;
  position: relative; left: -20px;
  box-shadow: 2.5px 5px 5px 2.5px black;
  
}

#pCardCount, #cCardCount  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  margin-right: 25%;
}

button {
  border: 1vmin solid gray;
  font-family: sans-serif;
  background-color: white;
  color: black;
  border-radius: 12.8px;
  padding: 20px;
  font-weight: bolder;
  box-shadow: 2.5px 5px 5px 2.5px black;
}


/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}







