* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  margin: 1vmin;
}

#title-card {
  font-size: 4vmin;
  letter-spacing: 1.5vmin;
  color: Black;
  padding: .5em;
  text-align: center;
  margin: 1vmin 1vmin 5vmin 1vmin;
}

#board {
  display: grid;
  justify-items: center;
  grid-template-columns: 22vmin 19vmin 15vmin 19vmin 22vmin;
  grid-template-rows: 23vmin 25vmin 23vmin 10vmin;
  font-size: 4.5vmin;
}

#pDeck, #cDeck, #pInPlay, #cInPlay {
  border: 0.1vmin solid grey;
  /* justify-content: center;
  align-items: center; */
  box-shadow: .35em .8em .80em .35em black;
}

#TP, #TX {
  display: flex;
  justify-content: center;
}

#play-btn {
  justify-content: space-around;
  align-content: center;
}

#play {
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 1em;
  padding: .5em;
  font-weight: bolder;
  position: relative; 
  box-shadow: .15em .35em .35em .15em black;
}

#foot {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-right: .75em;
  width: 100vw;
  font-size: 1vmax;
}

#battle {
  display: flex;
  align-items: flex-end;
  font-size: 1vmax;
  justify-content: left;
}

#war  {
  visibility: hidden;
  text-align: center;
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: rgb(151, 14, 14);
  color: whitesmoke;
  border-radius: 1em;
  padding: .2em;
  font-weight: bolder;
  font-size: .75em;
  box-shadow: .15em .35em .35em .15em black;
  justify-items: center;
  align-content: center;
}


#replay  {
  visibility: hidden;
  text-align: center;
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 1em;
  padding: .5em;
  font-weight: bolder;
  position: relative; top: -30px;
  position: relative; left: -20px;
  box-shadow: .15em .35em .35em .15em black;
}

#pCardCount, #cCardCount  {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vmin;
  margin-right: 25%;
}

button {
  border: 1vmax solid gray;
  font-family: sans-serif;
  background-color: white;
  color: black;
  border-radius: 1vmin;
  padding: .5vmin;
  font-size: 1vmin;
  font-weight: bolder;
  box-shadow: .15em .35em .35em .15em black;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }