* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4.5vmin;
  letter-spacing: 2vmin;
  color: Black;
  padding: 5px;
  text-align: center;
  margin-bottom: 20px;
}

#board {
  display: grid;
  grid-template-columns: 25vmin 25vmin 20vmin 25vmin 25vmin;
  grid-template-rows: 25vmin 15vmin 25vmin;
  font-size: 4.5vmin;
}

#pDeck, #cDeck, #pInPlay, #cInPlay {
  display: flex;
  border: 0.1vmin solid grey;
  padding: 50px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 10px 10px 5px black;
}

#TP, #TX {
  display: flex;
  justify-content: center;
}

#play {
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 12.8px;
  padding: 15px;
  font-weight: bolder;
  position: relative; top: -30px;
  position: relative; left: -20px;
  box-shadow: 2.5px 5px 5px 2.5px black;
}

footer  {
  display: flex;
  justify-content: space-around;
}

#war  {
  visibility: hidden;
  text-align: center;
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 12.8px;
  padding: 15px;
  font-weight: bolder;
  position: relative; top: -30px;
  position: relative; left: -20px;
  box-shadow: 2.5px 5px 5px 2.5px black;
}


#replay  {
  visibility: hidden;
  text-align: center;
  border: 1vmin solid rgb(49, 49, 49);
  font-family: sans-serif;
  background-color: black;
  color: white;
  border-radius: 12.8px;
  padding: 15px;
  font-weight: bolder;
  position: relative; top: -30px;
  position: relative; left: -20px;
  box-shadow: 2.5px 5px 5px 2.5px black;
}

#pCardCount, #cCardCount  {
  display: flex;
  justify-content: center;
  align-items: center;
  size: 15px;
  margin-right: 25%;
}

button {
  border: 1vmin solid gray;
  font-family: sans-serif;
  background-color: white;
  color: black;
  border-radius: 12.8px;
  padding: 20px;
  font-weight: bolder;
  box-shadow: 2.5px 5px 5px 2.5px black;
}









